/* -----------------------------------------------------------------------------
Content
------------------------------------------------------------------------------*/

.content {
  flex-grow: 1;
  flex-shrink: 0;
  margin: var(--layout-height-top, 0px) auto 0;
  width: 100%;
}
